<div class="container-fluid blue-container">
    <div class="row">
        <div class="icon">
            <i class="fa fa-puzzle-piece"></i>
            <div class="icon-text">
                <span>Sport type</span>
                <h5>Cycling</h5>
            </div>
        </div>

        <div class="icon">
            <i class="fa fa-trophy"></i>
            <div class="icon-text">
                <span>Mode</span>
                <h5>Advanced</h5>
            </div>
        </div>

        <div class="icon">
            <i class="fa fa-map-signs"></i>
            <div class="icon-text">
                <span>Route</span>
                <h5>30 miles</h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid main">
    <div class="row">
        <h2>Users</h2>
        <div class="col-sm">
            <hr style="border-width: 3px">
        </div>

        <form>
            <div class="input-field">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Filter table content" />
            </div>
        </form>
    </div>

    <app-table></app-table>
</div>