$primary: rgb(186, 235, 225) 
$dark: rgb(58, 197, 169) 
$accent: rgba(0,0,0,.1)

body 
    font-family: Arial, Helvetica, sans-serif

.blue-container 
    padding: 2.5em
    padding-left: 4em
    background-color: $primary 
    color: black

    i
        color: $dark
        font-size: 3.5em
        margin-right: 0.5em
    
    .icon 
        padding: 1em

        .icon-text 
            color: black
            float: right

            span
                color: gray
                font-size: 1em

            h5
                font-weight: bold

.main 
    padding: 2.5em
    padding-left: 4em

    .col-sm > hr
        margin-left: 2em 
        margin-right: 2em
        opacity: 0.5

    .input-field
        border: 0.09em solid $accent
        border-radius: 0.3em
        font-family: "FontAwesome", Arial, Helvetica, sans-serif
        width: 350px
        padding: 0.3em

        i
            padding: 0.3em
            color: rgba(0,0,0,.3)

        input
            border: none